
<!-- public/views/stats.html -->

<div class="">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">KDA</th>
            <th scope="col">KP%</th>
            <th scope="col">GPM</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-success" ng-repeat="x in names">
            <th> <img style="width:10%" src="{{ x.image }}" alt="{{ x.champion }}"></th>
            <th> 3/4/1 </th>
            <th> 34 </th>
            <th> 200 </th>
        </tr>
        <tr class="bg-success">
            <th scope="row">19.11</th>
            <th>KDA
            </th>
            <th>KP%
            </th>
            <th>GPM
            </th></tr>
        <tr class="bg-danger">
            <th scope="row">19.11</th>
            <th>KDA
            </th>
            <th>KP%
            </th>
            <th>GPM
            </th></tr>
        </tbody>
    </table>

    <p>{{ tagline }}</p>
</div>