
<!-- public/views/stats.html -->

<div class="jumbotron text-center">
    <h1>Nerds and Proud</h1>

    <table class="table">
        <tr>
            <th>KDA
            </th>
            <th>KP%
            </th>
            <th>GPM
            </th>
        </tr>
        <tr class="table-active"> hey </tr>
        <tr class="table-success">...</tr>
        <tr class="table-warning">...</tr>
        <tr class="table-danger">...</tr>
        <tr class="table-info">...</tr>
    </table>

    <p>{{ tagline }}</p>
</div>