body {
  font: 10px sans-serif;
}

#can {
  border:2px solid;
  background:url(../../assets/img/lol_map.jpg);
  background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
  background-size: 100% 100%;
}

.btn_ {
  padding: 10px 20px;
  font-size: 8px;
  border-radius: 8px;
}

.leagueIcons{
  width:15%;
}

.IconSpawn{
  position:absolute;
  top:20%;
  left:80%;
}
.leagueChamps{
  height:2rem;
  padding-right:20%;
}


.leagueIconsDiv{
  position:absolute;
  top:30%;
  left:86%;
}



.leagueButtons{
  position:absolute;
  top:30%;
  left:86%;
}

#red {
  position:absolute;
  top:8%;
  left:92%;
  width:10px;
  height:10px;
  background:red;
}

#green{
  position:absolute;
  top:8%;
  left:90%;
  width:10px;
  height:10px;
  background:green;
}

#blue{
  position:absolute;
  top:8%;
  left:91%;
  width:10px;
  height:10px;
  background:blue;
}

#yellow {
  position:absolute;
  top:10%;
  left:90%;
  width:10px;
  height:10px;
  background:yellow;
}

#orange {
  position:absolute;
  top:10%;
  left:91%;
  width:10px;
  height:10px;
  background:orange;
}

#black {
  position:absolute;
  top:10%;
  left:92%;
  width:10px;
  height:10px;
  background:black;
}

#selectColorDesc{
  position:absolute;
  top:6%;
  left:89%;
}

#save_btn{
  position:absolute;top:20%;left:89%;
}

#clear_btn{
  position:absolute;top:20%;left:91%;
}


