body {
  font: 10px sans-serif;
}

#can {
  border:2px solid;
  background:url(../../assets/img/lol_map.jpg);
  background-repeat:no-repeat;/*we want to have one single image not a repeated one*/
  background-size: 100% 100%;
}

.leagueIcons{
  width:30%;
  height:30%;
}

.leagueChamps{
  height:30%;
}


.leagueIconsDiv{
  position:absolute;
  top:30%;
  left:88%;
}

#red {
  position:absolute;
  top:8%;
  left:92%;
  width:10px;
  height:10px;
  background:red;
}

#green{
  position:absolute;
  top:8%;
  left:90%;
  width:10px;
  height:10px;
  background:green;
}

#blue{
  position:absolute;
  top:8%;
  left:91%;
  width:10px;
  height:10px;
  background:blue;
}

#yellow {
  position:absolute;
  top:10%;
  left:90%;
  width:10px;
  height:10px;
  background:yellow;
}

#orange {
  position:absolute;
  top:10%;
  left:91%;
  width:10px;
  height:10px;
  background:orange;
}

#black {
  position:absolute;
  top:10%;
  left:92%;
  width:10px;
  height:10px;
  background:black;
}

#selectColorDesc{
  position:absolute;
  top:6%;
  left:89%;
}

#save_btn{
  position:absolute;top:20%;left:89%;
}

#clear_btn{
  position:absolute;top:20%;left:91%;
}